:root {
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --background: #2f303a;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact-list,
.about-us-list,
.about-list,
.description-list,
.menu-list,
.header-menu {
  list-style-type: none;
}

/*============== HEADER ==============*/

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-menu {
  display: flex;
  margin-left: auto;
}

.header-menu-mail:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-s {
  color: #212121;
}

.menu-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.menu-list-link:hover,
.menu-list-link:focus,
.header-menu-link:hover,
.header-menu-link:focus,
.header-tel:hover,
.header-tel:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: #2196f3;
}

.header-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.header-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
}

/*============== END HEADER ==============*/

/*============== HERO ==============*/

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 30px;
}
.modal-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 200px;
  padding: 10px 32px;
}

.hero {
  width: auto;
  background-color: #2f303a;
}
/*============== END HERO ==============*/

/*============== ABOUT ==============*/

.about {
  background-color: #ffffff;
}

.description-list {
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
}

.description-list-item {
  width: 270px;
}

.description-title .description-item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 10px;
}

.description-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.description-item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-us {
  background-color: #f5f4fa;
}

.about-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list-item {
  margin-bottom: 94px;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-list:not(:last-child) {
  margin-right: 30px;
}

.about-us-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  padding-top: 90px;
}

.about-us-img {
  margin-bottom: 30px;
}

.about-us-name {
  margin-bottom: 10px;
}

.about-us-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}

.about-us-position {
  margin-bottom: 30px;
}

.about-us-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us-position {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*============== END ABOUT ==============*/

/*============== CONTACT ==============*/

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.contact-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-list-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address {
  padding-top: 20px;
}

.contact-list:not(:last-child) {
  padding-bottom: 9px;
}

.geo-link {
  color: #ffffff;
}

.footer {
  width: 100%;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-ss {
  color: #ffffff;
}
/*============== END CONTACT ==============*/

/*============== PORTFOLIO ==============*/

.logo-port {
  list-style-type: none;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*============== HEADER PORTFOLIO ==============*/

.btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: #f5f4fa;
}

.btn:hover,
.btn:focus {
  background: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
}

.button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.offer-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  width: 322px;
  height: 36px;
  padding-bottom: 4px;
  margin-left: 24px;
}

.offer-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  width: 322px;
  height: 36px;
  margin-bottom: 20px;
  margin-left: 24px;
}

.offer-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 94px;
}

.offer-item {
  width: calc((100% - 60px) / 3);
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.offer-img {
  padding-bottom: 20px;
}
